.about {
    padding-bottom: 4.5rem;
    padding-top: 7rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }

    .simple-title {
        margin-bottom: 1rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 3rem;
        }
    }

    &__text {
        margin-bottom: 3rem;

        @media screen and (max-width:$large_tablet) {
            display: none;
        }

        .content {
            font-size: 1.8rem;
            color: $grey;
        }

    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -3rem;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            margin-bottom: 0;
        }
    }

    &__item {
        width: calc((100% - 2.4rem * 2) / 3);
        margin-bottom: 3rem;
        position: relative;
        border: 1px solid rgba(13, 13, 14, 0.16);
        border-radius: 1.6rem;
        overflow: hidden;
        transition: border-color .5s;

        &-reverse {
            border-color: transparent;
            box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
        }

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-bottom: 2.4rem;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        // &:hover {
        //     border: 1px solid rgba(13, 13, 14, 0);

        //     .about__reverse {
        //         opacity: 1;
        //         visibility: visible;
        //     }
        // }

        &-wrap {
            padding: 2.5rem 4rem;
        }

        &-top {
            display: flex;
            align-items: center;
            margin-bottom: 1.6rem;
        }

        &-photo {
            max-width: 3.2rem;
            width: 100%;
            flex-grow: 0;
            margin-right: 1.6rem;
            border-radius: 50%;
            overflow: hidden;

            >div {
                img {
                    object-fit: contain;
                }
            }
        }

        &-name {
            font-weight: 600;
        }

        &-rating {
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            svg+svg {
                margin-left: 1rem;
            }
        }

        &--hide {
            margin-bottom: 0px !important;
            padding: 0px !important;
            opacity: 0 !important;
            height: 0px !important;
        }


    }

    &__reverse {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        opacity: 1;
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);

        &-top {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            svg {
                width: 5rem;
            }
        }

        &-value {
            font-weight: bold;
            font-size: 4.5rem;
            margin-right: 1.5rem;
            color: $green;
        }

        &-title {
            font-weight: bold;
            font-size: 3.6rem;
            line-height: 130%;
            color: $green;
            margin-bottom: 2rem;

            @media screen and (max-width:$large_tablet) {
                font-size: 3.2rem;
            }
        }

        &-text {
            .content {
                font-size: 1.8rem;
                color: #000000;
            }
        }

        &-reviews {
            margin-top: auto;
            font-weight: bold;
            font-size: 1.8rem;
            line-height: 130%;
            color: #000000;
        }
    }
}