.block-info {
    display: flex;
    margin-bottom: 6.3rem;

    @media screen and (max-width:$large_tablet) {
        flex-direction: column;
        margin-bottom: 5.6rem;
    }

    .simple-title {
        @media screen and (max-width:$large_tablet) {
            margin-bottom: 2.4rem;
        }
    }
    
    .img-wrap {
        margin-right: 3.4rem;
        flex-shrink: 0;
        max-width: 34.2rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 2rem;
        }
    }
    .content {
        padding-top: 2rem;
        font-size: 1.6rem;
        line-height: 150%;
        color: #000000;
        max-width: 512px;

        @media screen and (max-width:$large_tablet) {
            padding-top: 0rem;
        }

        p {
            margin-bottom: 2.4rem;
        }
        ul {
            list-style: disc;
            padding-left: 2.5rem;
            font-weight: 400;
        }
    }
}