.btn {
	border: none;
	cursor: pointer;
	text-decoration: none;
	line-height: 5.6rem;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	// text-align: center;
	background: #2A8BA3;
	border-radius: $br;
	padding: 0 3.5rem;
	transition: all 0.5s;
	font-weight: 600;
	color: #fff;

	svg {
		width: 1.6rem;
		fill: #fff;
		margin-right: 1rem;
	}

	&--yellow {
		background-color: $yellow;
		color: $primary-c;
	}

	&--empty {
		background-color: inherit;
		border: 1px solid rgba(13, 13, 14, 0.16);
		color: #282829;
	}
}