.certification {
    padding-top: 5rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 3.2rem;
    }

    &__wrap {
        max-width: 108rem;
        width: 100%;
        display: flex;
        align-items: flex-start;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
        }
    }

    &__content {
        width: calc(100% - 41rem - 9rem);
        margin-right: 9rem;

        @media screen and (max-width:$large_tablet) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
        }
    }

    &__img {
        max-width: 41rem;
        width: 100%;

        >div {
            position: relative;
            padding-bottom: 100.17%;

            img {
                position: absolute;
                top: 0px;
                left: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .simple-title {
        margin-bottom: 3rem;
    }

    &__text {
        .content {
            font-size: 1.8rem;
            color: $grey;
        }
    }

}