.confidence {
    padding-top: 4.5rem;
    padding-bottom: 6rem;

    @media screen and (max-width:$large_tablet) {
        padding-top: 3.2rem;
        padding-bottom: 3.2rem;
    }

    .simple-title {
        margin-bottom: 1rem;
    }

    &__text {
        margin-bottom: 5rem;

        @media screen and (max-width:$large_tablet) {
            margin-bottom: 4rem;
        }

        .content {
            font-size: 1.8rem;
            color: $grey;
        }
    }

    &__list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0 -1rem;

        @media screen and (max-width:$large_tablet) {
            flex-wrap: wrap;
            margin: 0 0 -4rem 0;
        }
    }

    &__item {
        padding: 0 1rem;

        @media screen and (max-width:$large_tablet) {
            min-height: 6rem;
            width: calc((100% - 2rem * 2) / 3);
            position: relative;
            margin-bottom: 4rem;
            padding: 0;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}