.footer {
	&__wrap {
        background: rgba(13, 13, 14, 0.04);

        .center-wrap {
            margin: 0px 0px 0px auto;
            max-width: calc(100% - 50px);
        }

        &-top {
            display: flex;
            align-items: center;
            padding: 4.8rem 0rem;
            border-bottom: 1px solid rgba(13, 13, 14, 0.08);

            .content {
                font-size: 1.4rem;
                line-height: 200%;
            }
        }

        &-bottom {
            padding: 4rem 0rem;

            .content {
                display: flex;
                color: #505154;
                font-size: 1.6rem;
                line-height: 140%;

                p {
                    margin-right: 6.4rem;
                }
            }
        }
    }

    .socials {
        margin-right: 6.4rem;
    }
}