.main-product {
    padding-top: 4.8rem;
    display: flex;

    @media screen and (max-width:$large_tablet) {
        display: block;
        padding-top: 3.2rem;
    }

    .mobil__none {
        @media screen and (max-width:$large_tablet) {
            display: none;
        }
    }

    .mobil__on {
        @media screen and (min-width:$large_mobile) {
            display: none;
        }
        @media screen and (max-width:$large_tablet) {
            display: block;
        }
    }

    .simple-title {
        font-weight: 800;
        font-size: 5.6rem;
        line-height: 150%;
        margin-bottom: 4.8rem;

        @media screen and (max-width:$large_tablet) {
            font-size: 4rem;
        }
    }

    .center-wrap {
        margin: 0rem 4.8rem;

        @media screen and (max-width:$large_tablet) {
            margin: 0rem auto;
        }
    }

    .breadcrumb {
        margin-bottom: 2.4rem;
        @media screen and (max-width:$large_tablet) {
            margin-bottom: 2rem;
        }
    }

}