.cards {
    &__item {
        width: 100%;
        background: #FFFFFF;
        border-radius: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 3.1rem 4rem ;
        margin-bottom: 2.4rem;
        flex-wrap: wrap;

        

        &:last-child {
            margin-bottom: 0rem;
        }

        &:hover  {
            .cards__title {
                span:after {
                   width: 100%;
                }
            }
            
         
        }

  
        &.green:hover,
        &.orang:hover {
            .cards__title {
                span:after {
                    background: #fff;
                }  
            }
           
        }

  

        &.green {
            background: #046C1C;
            color: #fff;
            .cards__title {
                span:after {
                    background: #ffffff;
                }
            }
            .cards__sub-title {
                color: #ffffff;
            }
            .img-wrap {
                div {
                    filter: none;
                }
            }
        }
        &.orang {
            background: #C65300;
            color: #fff;
            .cards__title {
                span:after {
                    background: #ffffff;
                }
            }
            .cards__sub-title {
                color: #ffffff;
            }
            .img-wrap {
                div {
                    filter: none;
                }
            } 
        }

        &-left {
            display: flex;
            // align-items: center;
            // height: 100%;

            @media screen and (max-width:$large_tablet) {
                margin-bottom: 1.6rem;
                flex-direction: column;
            }

            .img-wrap {
                position: relative;
                width: 6.5rem;
                margin-right: 3.8rem;

                @media screen and (max-width:$large_tablet) {
                    margin-bottom: 1.6rem;
                }

                div {
                    filter: drop-shadow(0px 3.26882px 9.80645px rgba(0, 0, 0, 0.08));
                }
            }
        }

        &-right {
            display: flex;
            align-items: center;

            @media screen and (max-width:$large_tablet) {
                width: 100%;
            }

            .price {
                font-weight: bold;
                font-size: 2.4rem;
                line-height: 140%;
                margin-right: 3.2rem;
            }

            .btn {
                transition: all 0.5s;

                @media screen and (max-width:$large_tablet) {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                 
                svg {
                    fill: #001602;
                    margin-left: 1.2rem;
                }
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__title {
        font-weight: bold;
        font-size: 2.4rem;
        line-height: 150%;
        margin-bottom: 1.2rem;

        span {
            position: relative;
            &:after {
                position: absolute;
                left: 0;
                bottom: 0;
                content: '';
                width: 0%;
                height: 2px;
                background: #0D0D0E;
                transition: all 0.5s;
            }
        }
    }
    &__sub-title {
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        color: #505154;
    }
}