.travel-packs {
    padding-top: 3.5rem;
    padding-bottom: 7rem;

    @media screen and (max-width:$large_tablet) {
        padding-bottom: 3.2rem;
    }

    .simple-title {
        margin-bottom: 1rem;
    }

    &__text {
        font-weight: normal;
        font-size: 1.8rem;
        line-height: 150%;
        color: $grey;
        margin-bottom: 3.2rem;
    }

    &__pack {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: -2.4rem;

        @media screen and (max-width:$large_tablet) {
            flex-direction: column;
            margin-bottom: 0;
        }

        .pack {
            width: calc((100% - 2.4rem * 1) / 2);
            margin-bottom: 2.4rem;

            @media screen and (max-width:$large_tablet) {
                width: 100%;
            }
        }
    }
}