section.about
    .center-wrap 
        h2.simple-title What people tell about us
        .about__text
            .content 
                p Travel confidently with Nivha
        .about__list 
            .about__item.about__item-reverse
                .about__reverse
                    .about__reverse-top 
                        .about__reverse-value 99%
                        svg(viewBox='0 0 50 48' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.375 20.875V41.875C13.375 42.5712 13.0984 43.2389 12.6062 43.7312C12.1139 44.2234 11.4462 44.5 10.75 44.5H5.5C4.80381 44.5 4.13613 44.2234 3.64384 43.7312C3.15156 43.2389 2.875 42.5712 2.875 41.875V23.5C2.875 22.8038 3.15156 22.1361 3.64384 21.6438C4.13613 21.1516 4.80381 20.875 5.5 20.875H13.375ZM13.375 20.875C16.1598 20.875 18.8305 19.7688 20.7996 17.7996C22.7688 15.8305 23.875 13.1598 23.875 10.375V7.75C23.875 6.35761 24.4281 5.02226 25.4127 4.03769C26.3973 3.05312 27.7326 2.5 29.125 2.5C30.5174 2.5 31.8527 3.05312 32.8373 4.03769C33.8219 5.02226 34.375 6.35761 34.375 7.75V20.875H42.25C43.6424 20.875 44.9777 21.4281 45.9623 22.4127C46.9469 23.3973 47.5 24.7326 47.5 26.125L44.875 39.25C44.4975 40.8604 43.7814 42.2431 42.8345 43.19C41.8876 44.1369 40.7612 44.5967 39.625 44.5H21.25C19.1614 44.5 17.1584 43.6703 15.6815 42.1935C14.2047 40.7166 13.375 38.7136 13.375 36.625' stroke='#046C1C' stroke-width='5' stroke-linecap='round' stroke-linejoin='round')
                    .about__reverse-title Positive feedback
                    .about__reverse-text 
                        .content 
                            p 546 286 reviews were left by customers in the last 12 months.
                    .about__reverse-reviews 515 193 are positive.
            .about__item
                .about__item-wrap
                    .about__item-top 
                        .about__item-photo
                            .img-wrap
                                div
                                    img(src="assets/images/png/about-photo1.png" alt="")
                        .about__item-name Bryan Haggerty
                    .about__item-rating
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                    .about__item-text
                        .content 
                            p Excellent professional service. <strong>Quick</strong> results. Availed of COVID test prior flight out to States and upon return to exit quarantine. <strong>Gentle</strong> test and it was administered with patience and care. Dr. Astrid is terrific.
            .about__item
                .about__item-wrap
                    .about__item-top 
                        .about__item-photo
                            .img-wrap
                                div
                                    img(src="assets/images/png/about-photo2.png" alt="")
                        .about__item-name Florence Bradford
                    .about__item-rating
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                    .about__item-text
                        .content 
                            p When my temperature rose and there was a burning sensation in my lungs, I decided to take a test for <strong>covid-19.</strong> Test was taken and then the result came quickly, it turned out to be positive, it’s good that it turned so quickly and the complications were not yet strong.
                
            .about__item
                .about__item-wrap
                    .about__item-top 
                        .about__item-photo
                            .img-wrap
                                div
                                    img(src="assets/images/png/about-photo3.png" alt="")
                        .about__item-name Russell Goodwin
                    .about__item-rating
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                    .about__item-text
                        .content 
                            p The service is <strong>very fast,</strong> there are almost no queues. For busy people, salvation is direct. It's better to save time with Nivha.
                
            .about__item
                .about__item-wrap
                    .about__item-top 
                        .about__item-photo
                            .img-wrap
                                div
                                    img(src="assets/images/png/about-photo4.png" alt="")
                        .about__item-name Charlotte McGowan
                    .about__item-rating
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                    .about__item-text
                        .content 
                            p I use the services of the Nivha laboratory. They always have <strong>everything clear.</strong> Registration is <strong>fast,</strong> I never had to sit in line. Tests are also good. Results are sent to the mail. They make life easier for clients.
                
            .about__item
                .about__item-wrap
                    .about__item-top 
                        .about__item-photo
                            .img-wrap
                                div
                                    img(src="assets/images/png/about-photo5.png" alt="")
                        .about__item-name Robin Conway
                    .about__item-rating
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                        svg(width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M13.4311 20.1993C13.1609 20.0573 12.8381 20.0573 12.568 20.1993L6.4323 23.4247C5.75183 23.7824 4.95657 23.2045 5.08653 22.4468L6.25838 15.6145C6.31 15.3135 6.21019 15.0065 5.9915 14.7934L1.02588 9.95498C0.475207 9.41842 0.77893 8.48333 1.53979 8.37276L8.39969 7.37588C8.70175 7.33199 8.96288 7.14229 9.098 6.86859L12.1677 0.650726C12.508 -0.0385719 13.4909 -0.03851 13.8311 0.650832L16.8997 6.86849C17.0348 7.14225 17.296 7.33199 17.5981 7.37589L24.4581 8.3728C25.2189 8.48336 25.5227 9.41836 24.9721 9.95495L20.0075 14.7933C19.7888 15.0065 19.689 15.3136 19.7407 15.6145L20.9135 22.4467C21.0436 23.2044 20.2483 23.7824 19.5678 23.4247L13.4311 20.1993Z' fill='#F6AE2D')
                    .about__item-text
                        .content 
                            p Excellent professional service. <strong>Quick</strong> results. Availed of COVID test prior flight out to States and upon return to exit quarantine. <strong>Gentle</strong> test and it was administered with patience and care. Dr. Astrid is terrific.
                
            .about__item.about__item--hide
            .about__item.about__item--hide



