.aside
    .aside__wrap
        a(href="index.html").aside__logo 
            img(src='assets/images/svg/logo.svg' alt='')
            .aside__logo-text COVID-19
        .aside__reception
            a(href="#").btn
                svg(viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.1667 1.50033C12.1667 1.04009 11.7936 0.666992 11.3333 0.666992C10.8731 0.666992 10.5 1.04009 10.5 1.50033V2.33366H5.5V1.50033C5.5 1.04009 5.1269 0.666992 4.66667 0.666992C4.20643 0.666992 3.83333 1.04009 3.83333 1.50033V2.33366H3C1.61929 2.33366 0.5 3.45295 0.5 4.83366V8.16699V14.8337C0.5 16.2144 1.61929 17.3337 3 17.3337H13C14.3807 17.3337 15.5 16.2144 15.5 14.8337V8.16699V4.83366C15.5 3.45295 14.3807 2.33366 13 2.33366H12.1667V1.50033ZM13.8333 7.33366V4.83366C13.8333 4.37342 13.4602 4.00033 13 4.00033H12.1667V4.83366C12.1667 5.2939 11.7936 5.66699 11.3333 5.66699C10.8731 5.66699 10.5 5.2939 10.5 4.83366V4.00033H5.5V4.83366C5.5 5.2939 5.1269 5.66699 4.66667 5.66699C4.20643 5.66699 3.83333 5.2939 3.83333 4.83366V4.00033H3C2.53976 4.00033 2.16667 4.37342 2.16667 4.83366V7.33366H13.8333ZM2.16667 9.00033H13.8333V14.8337C13.8333 15.2939 13.4602 15.667 13 15.667H3C2.53976 15.667 2.16667 15.2939 2.16667 14.8337V9.00033Z')
                .btn__title Book appointment
        nav.aside__nav
            ul.aside__nav-list 
                li.aside__nav-item 
                    a(href="index.html").aside__nav-link.aside__nav-link--active
                        img(src='assets/images/svg/aside-nav-icon1.svg' alt='')
                        //- svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M10.7071 0.292893C10.3166 -0.0976311 9.68345 -0.0976311 9.29292 0.292893L0.292922 9.29289C0.00692445 9.57889 -0.0786313 10.009 0.0761497 10.3827C0.230931 10.7564 0.595567 11 1.00003 11H2.00003V17C2.00003 17.7957 2.3161 18.5587 2.87871 19.1213C3.44132 19.6839 4.20438 20 5.00003 20H15C15.7957 20 16.5587 19.6839 17.1214 19.1213C17.684 18.5587 18 17.7957 18 17V11H19C19.4045 11 19.7691 10.7564 19.9239 10.3827C20.0787 10.009 19.9931 9.57889 19.7071 9.29289L10.7071 0.292893ZM16.6469 9.06413C16.6477 9.06385 16.6484 9.06358 16.6491 9.0633L10 2.41421L3.35094 9.0633C3.73013 9.20542 4.00003 9.57119 4.00003 10V17C4.00003 17.2652 4.10539 17.5196 4.29292 17.7071C4.48046 17.8946 4.73481 18 5.00003 18H15C15.2652 18 15.5196 17.8946 15.7071 17.7071C15.8947 17.5196 16 17.2652 16 17V10C16 9.57202 16.2689 9.20683 16.6469 9.06413Z')
                        | Home
                li.aside__nav-item 
                    a(href="catalog.html").aside__nav-link
                        //- svg(viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M8 0C5.23858 0 3 2.23858 3 5C3 7.76142 5.23858 10 8 10C10.7614 10 13 7.76142 13 5C13 2.23858 10.7614 0 8 0ZM5 5C5 3.34315 6.34315 2 8 2C9.65685 2 11 3.34315 11 5C11 6.65685 9.65685 8 8 8C6.34315 8 5 6.65685 5 5Z')
                        //-     path(d='M2.87868 14.8787C3.44129 14.3161 4.20435 14 5 14H11C11.7956 14 12.5587 14.3161 13.1213 14.8787C13.6839 15.4413 14 16.2043 14 17V19C14 19.5523 14.4477 20 15 20C15.5523 20 16 19.5523 16 19V17C16 15.6739 15.4732 14.4021 14.5355 13.4645C13.5979 12.5268 12.3261 12 11 12H5C3.67392 12 2.40215 12.5268 1.46447 13.4645C0.526784 14.4021 0 15.6739 0 17V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V17C2 16.2043 2.31607 15.4413 2.87868 14.8787Z')
                        //-     path(d='M14.0312 0.881844C14.1682 0.346818 14.713 0.0241445 15.248 0.161133C16.3236 0.436509 17.2768 1.06201 17.9576 1.93902C18.6383 2.81603 19.0078 3.89467 19.0078 5.00488C19.0078 6.1151 18.6383 7.19373 17.9576 8.07074C17.2768 8.94776 16.3236 9.57326 15.248 9.84863C14.713 9.98562 14.1682 9.66295 14.0312 9.12792C13.8943 8.5929 14.2169 8.04812 14.752 7.91113C15.3973 7.74591 15.9692 7.37061 16.3777 6.8444C16.7861 6.31819 17.0078 5.67101 17.0078 5.00488C17.0078 4.33876 16.7861 3.69157 16.3777 3.16537C15.9692 2.63916 15.3973 2.26386 14.752 2.09863C14.2169 1.96164 13.8943 1.41687 14.0312 0.881844Z')
                        //-     path(d='M17.25 12.1818C16.7152 12.0437 16.1698 12.3653 16.0317 12.9C15.8937 13.4348 16.2153 13.9802 16.75 14.1183C17.3911 14.2838 17.9595 14.6568 18.3665 15.1791C18.7729 15.7007 18.9956 16.3419 19 17.0031V19C19 19.5523 19.4477 20 20 20C20.5523 20 21 19.5523 21 19L21 17L21 16.9943C20.9936 15.8907 20.6224 14.8203 19.9441 13.9498C19.2658 13.0793 18.3185 12.4576 17.25 12.1818Z')
                        img(src='assets/images/svg/aside-nav-icon2.svg' alt='')
                        | for Individuals
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        //- svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                        //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M11.5257 0.14935C11.8205 0.331557 12 0.653423 12 1V4.46482L17.5547 8.16795C17.8329 8.35342 18 8.66565 18 9V18H19C19.5523 18 20 18.4477 20 19C20 19.5523 19.5523 20 19 20H17.002L17 20L16.998 20H11.002L11 20L10.998 20H3.00197L3 20L2.99803 20H1C0.447715 20 0 19.5523 0 19C0 18.4477 0.447715 18 1 18H2V5C2 4.62123 2.214 4.27497 2.55279 4.10557L10.5528 0.105574C10.8628 -0.0494204 11.2309 -0.0328564 11.5257 0.14935ZM16 18V9.53518L12 6.86852V18H16ZM10 4.98453C9.99986 4.99424 9.99986 5.00394 10 5.01363V18H4V5.61803L10 2.61804V4.98453ZM7 6C7.55228 6 8 6.44772 8 7V7.01C8 7.56228 7.55228 8.01 7 8.01C6.44772 8.01 6 7.56228 6 7.01V7C6 6.44772 6.44772 6 7 6ZM8 10C8 9.44771 7.55228 9 7 9C6.44772 9 6 9.44771 6 10V10.01C6 10.5623 6.44772 11.01 7 11.01C7.55228 11.01 8 10.5623 8 10.01V10ZM7 12C7.55228 12 8 12.4477 8 13V13.01C8 13.5623 7.55228 14.01 7 14.01C6.44772 14.01 6 13.5623 6 13.01V13C6 12.4477 6.44772 12 7 12ZM8 16C8 15.4477 7.55228 15 7 15C6.44772 15 6 15.4477 6 16V16.01C6 16.5623 6.44772 17.01 7 17.01C7.55228 17.01 8 16.5623 8 16.01V16Z')
                        img(src='assets/images/svg/aside-nav-icon3.svg' alt='')
                        | Corporate services
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        //- svg(viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                        //-     path(fill-rule='evenodd' clip-rule='evenodd' d='M9.99938 0C13.3703 0 16.3501 1.6775 18.1613 4.24473C10.9865 6.81304 1.78057 8.89944 0.783722 6.14349C2.29987 2.53361 5.85543 0 9.99938 0ZM0.0464237 9.08513C3.76392 11.1075 11.0165 9.14044 18.1877 4.28183C19.3281 5.91378 20 7.90147 20 10.0464C20 15.5948 15.5232 20.0926 9.99982 20.0926C9.76878 20.0926 9.5399 20.0818 9.3121 20.0666C12.8133 19.0561 16.4844 15.7818 19.1489 10.0247C12.5564 17.9282 7.53108 19.2235 4.696 18.5616C3.67431 17.918 2.77679 17.0945 2.04768 16.1343C6.47269 17.1715 13.0933 13.0746 19.4652 6.85665C19.4793 6.84309 19.4647 6.83496 19.4501 6.82682C19.4355 6.81869 19.421 6.81055 19.435 6.797C10.1423 13.028 1.17931 15.0178 0.0205128 10.6574C0.00863698 10.4557 0 10.2514 0 10.0464C0 9.72214 0.017274 9.40183 0.0464237 9.08513Z')
                        img(src='assets/images/svg/aside-nav-icon4.svg' alt='')
                        | About Nivha
        a(href="tel:+442890737942").aside__tel
            svg(viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M3 2C2.73478 2 2.48043 2.10536 2.29289 2.29289C2.11141 2.47438 2.00688 2.71844 2.00033 2.97437C2.23032 6.6183 3.78159 10.0537 6.36394 12.6361C8.94628 15.2184 12.3817 16.7697 16.0256 16.9997C16.2815 16.9931 16.5256 16.8886 16.7071 16.7071C16.8946 16.5196 17 16.2652 17 16V12.677L13.4193 11.2448L12.3575 13.0145C12.0897 13.4608 11.5244 13.6271 11.0577 13.3969C8.68874 12.2285 6.77146 10.3113 5.60314 7.94232C5.37294 7.47556 5.53924 6.91027 5.9855 6.64251L7.75523 5.58067L6.32297 2H3ZM0.87868 0.87868C1.44129 0.31607 2.20435 0 3 0H7C7.4089 0 7.77661 0.248951 7.92848 0.628609L9.92848 5.62861C10.1108 6.08432 9.93537 6.60497 9.5145 6.85749L7.8405 7.86189C8.66436 9.20552 9.79449 10.3356 11.1381 11.1595L12.1425 9.48551C12.395 9.06463 12.9157 8.88924 13.3714 9.07152L18.3714 11.0715C18.751 11.2234 19 11.5911 19 12V16C19 16.7957 18.6839 17.5587 18.1213 18.1213C17.5587 18.6839 16.7957 19 16 19C15.9798 19 15.9595 18.9994 15.9393 18.9982C11.7948 18.7463 7.88576 16.9863 4.94972 14.0503C2.01369 11.1142 0.253707 7.20519 0.00184143 3.06066C0.000614107 3.04046 0 3.02023 0 3C0 2.20435 0.31607 1.44129 0.87868 0.87868Z')
            .aside__tel-title +44 2890 737 942
        a(href="index.html#contact").aside__location.single-anchors
            .btn
                svg(viewBox='0 0 18 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M9.00002 4.99972C6.79088 4.99972 5.00002 6.79058 5.00002 8.99972C5.00002 11.2089 6.79088 12.9997 9.00002 12.9997C11.2092 12.9997 13 11.2089 13 8.99972C13 6.79058 11.2092 4.99972 9.00002 4.99972ZM7.00002 8.99972C7.00002 7.89515 7.89545 6.99972 9.00002 6.99972C10.1046 6.99972 11 7.89515 11 8.99972C11 10.1043 10.1046 10.9997 9.00002 10.9997C7.89545 10.9997 7.00002 10.1043 7.00002 8.99972Z')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M15.3641 15.3638L11.1215 19.6065C10.8431 19.885 10.5123 20.1063 10.1485 20.2571C9.78454 20.408 9.39445 20.4856 9.0005 20.4856C8.60655 20.4856 8.21646 20.408 7.85253 20.2571C7.4886 20.1063 7.15797 19.8852 6.87955 19.6065L2.63598 15.3639C1.37735 14.1052 0.520132 12.5015 0.172903 10.7556C-0.174327 9.00982 0.00393033 7.20025 0.685133 5.55574C1.36633 3.91123 2.51989 2.50565 3.99992 1.51674C5.47995 0.527829 7.21999 0 9 0C10.78 0 12.5201 0.527829 14.0001 1.51674C15.4801 2.50565 16.6337 3.91123 17.3149 5.55574C17.9961 7.20025 18.1743 9.00982 17.8271 10.7556C17.4799 12.5015 16.6228 14.1051 15.3641 15.3638ZM5.11105 3.17969C6.26219 2.41053 7.61555 2 9 2C10.3845 2 11.7378 2.41053 12.889 3.17969C14.0401 3.94884 14.9373 5.04207 15.4671 6.32113C15.997 7.60019 16.1356 9.00764 15.8655 10.3655C15.5955 11.7233 14.9288 12.9706 13.9499 13.9496L9.7069 18.1926C9.61421 18.2854 9.5038 18.3593 9.38265 18.4095C9.26151 18.4598 9.13165 18.4856 9.0005 18.4856C8.86936 18.4856 8.7395 18.4598 8.61836 18.4095C8.49721 18.3593 8.38715 18.2857 8.29446 18.1929L4.05013 13.9496C3.0712 12.9706 2.40455 11.7234 2.13448 10.3655C1.86441 9.00764 2.00306 7.60019 2.53288 6.32113C3.06271 5.04207 3.95991 3.94884 5.11105 3.17969Z')
                .btn__title See map to office





