.aside
    .aside__wrap
        a(href="").aside__logo 
            img(src='assets/images/svg/logo.svg' alt='')
            .aside__logo-text COVID-19
        .aside__reception
            .btn
                svg(viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd' clip-rule='evenodd' d='M12.1667 1.50033C12.1667 1.04009 11.7936 0.666992 11.3333 0.666992C10.8731 0.666992 10.5 1.04009 10.5 1.50033V2.33366H5.5V1.50033C5.5 1.04009 5.1269 0.666992 4.66667 0.666992C4.20643 0.666992 3.83333 1.04009 3.83333 1.50033V2.33366H3C1.61929 2.33366 0.5 3.45295 0.5 4.83366V8.16699V14.8337C0.5 16.2144 1.61929 17.3337 3 17.3337H13C14.3807 17.3337 15.5 16.2144 15.5 14.8337V8.16699V4.83366C15.5 3.45295 14.3807 2.33366 13 2.33366H12.1667V1.50033ZM13.8333 7.33366V4.83366C13.8333 4.37342 13.4602 4.00033 13 4.00033H12.1667V4.83366C12.1667 5.2939 11.7936 5.66699 11.3333 5.66699C10.8731 5.66699 10.5 5.2939 10.5 4.83366V4.00033H5.5V4.83366C5.5 5.2939 5.1269 5.66699 4.66667 5.66699C4.20643 5.66699 3.83333 5.2939 3.83333 4.83366V4.00033H3C2.53976 4.00033 2.16667 4.37342 2.16667 4.83366V7.33366H13.8333ZM2.16667 9.00033H13.8333V14.8337C13.8333 15.2939 13.4602 15.667 13 15.667H3C2.53976 15.667 2.16667 15.2939 2.16667 14.8337V9.00033Z')
                | Book appointment
        nav.aside__nav
            ul.aside__nav-list 
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M10.7071 0.292893C10.3166 -0.0976311 9.68345 -0.0976311 9.29292 0.292893L0.292922 9.29289C0.00692445 9.57889 -0.0786313 10.009 0.0761497 10.3827C0.230931 10.7564 0.595567 11 1.00003 11H2.00003V17C2.00003 17.7957 2.3161 18.5587 2.87871 19.1213C3.44132 19.6839 4.20438 20 5.00003 20H15C15.7957 20 16.5587 19.6839 17.1214 19.1213C17.684 18.5587 18 17.7957 18 17V11H19C19.4045 11 19.7691 10.7564 19.9239 10.3827C20.0787 10.009 19.9931 9.57889 19.7071 9.29289L10.7071 0.292893ZM16.6469 9.06413C16.6477 9.06385 16.6484 9.06358 16.6491 9.0633L10 2.41421L3.35094 9.0633C3.73013 9.20542 4.00003 9.57119 4.00003 10V17C4.00003 17.2652 4.10539 17.5196 4.29292 17.7071C4.48046 17.8946 4.73481 18 5.00003 18H15C15.2652 18 15.5196 17.8946 15.7071 17.7071C15.8947 17.5196 16 17.2652 16 17V10C16 9.57202 16.2689 9.20683 16.6469 9.06413Z')
                        | Home
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        svg(viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M8 0C5.23858 0 3 2.23858 3 5C3 7.76142 5.23858 10 8 10C10.7614 10 13 7.76142 13 5C13 2.23858 10.7614 0 8 0ZM5 5C5 3.34315 6.34315 2 8 2C9.65685 2 11 3.34315 11 5C11 6.65685 9.65685 8 8 8C6.34315 8 5 6.65685 5 5Z')
                            path(d='M2.87868 14.8787C3.44129 14.3161 4.20435 14 5 14H11C11.7956 14 12.5587 14.3161 13.1213 14.8787C13.6839 15.4413 14 16.2043 14 17V19C14 19.5523 14.4477 20 15 20C15.5523 20 16 19.5523 16 19V17C16 15.6739 15.4732 14.4021 14.5355 13.4645C13.5979 12.5268 12.3261 12 11 12H5C3.67392 12 2.40215 12.5268 1.46447 13.4645C0.526784 14.4021 0 15.6739 0 17V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V17C2 16.2043 2.31607 15.4413 2.87868 14.8787Z')
                            path(d='M14.0312 0.881844C14.1682 0.346818 14.713 0.0241445 15.248 0.161133C16.3236 0.436509 17.2768 1.06201 17.9576 1.93902C18.6383 2.81603 19.0078 3.89467 19.0078 5.00488C19.0078 6.1151 18.6383 7.19373 17.9576 8.07074C17.2768 8.94776 16.3236 9.57326 15.248 9.84863C14.713 9.98562 14.1682 9.66295 14.0312 9.12792C13.8943 8.5929 14.2169 8.04812 14.752 7.91113C15.3973 7.74591 15.9692 7.37061 16.3777 6.8444C16.7861 6.31819 17.0078 5.67101 17.0078 5.00488C17.0078 4.33876 16.7861 3.69157 16.3777 3.16537C15.9692 2.63916 15.3973 2.26386 14.752 2.09863C14.2169 1.96164 13.8943 1.41687 14.0312 0.881844Z')
                            path(d='M17.25 12.1818C16.7152 12.0437 16.1698 12.3653 16.0317 12.9C15.8937 13.4348 16.2153 13.9802 16.75 14.1183C17.3911 14.2838 17.9595 14.6568 18.3665 15.1791C18.7729 15.7007 18.9956 16.3419 19 17.0031V19C19 19.5523 19.4477 20 20 20C20.5523 20 21 19.5523 21 19L21 17L21 16.9943C20.9936 15.8907 20.6224 14.8203 19.9441 13.9498C19.2658 13.0793 18.3185 12.4576 17.25 12.1818Z')
                        | for Individuals
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M11.5257 0.14935C11.8205 0.331557 12 0.653423 12 1V4.46482L17.5547 8.16795C17.8329 8.35342 18 8.66565 18 9V18H19C19.5523 18 20 18.4477 20 19C20 19.5523 19.5523 20 19 20H17.002L17 20L16.998 20H11.002L11 20L10.998 20H3.00197L3 20L2.99803 20H1C0.447715 20 0 19.5523 0 19C0 18.4477 0.447715 18 1 18H2V5C2 4.62123 2.214 4.27497 2.55279 4.10557L10.5528 0.105574C10.8628 -0.0494204 11.2309 -0.0328564 11.5257 0.14935ZM16 18V9.53518L12 6.86852V18H16ZM10 4.98453C9.99986 4.99424 9.99986 5.00394 10 5.01363V18H4V5.61803L10 2.61804V4.98453ZM7 6C7.55228 6 8 6.44772 8 7V7.01C8 7.56228 7.55228 8.01 7 8.01C6.44772 8.01 6 7.56228 6 7.01V7C6 6.44772 6.44772 6 7 6ZM8 10C8 9.44771 7.55228 9 7 9C6.44772 9 6 9.44771 6 10V10.01C6 10.5623 6.44772 11.01 7 11.01C7.55228 11.01 8 10.5623 8 10.01V10ZM7 12C7.55228 12 8 12.4477 8 13V13.01C8 13.5623 7.55228 14.01 7 14.01C6.44772 14.01 6 13.5623 6 13.01V13C6 12.4477 6.44772 12 7 12ZM8 16C8 15.4477 7.55228 15 7 15C6.44772 15 6 15.4477 6 16V16.01C6 16.5623 6.44772 17.01 7 17.01C7.55228 17.01 8 16.5623 8 16.01V16Z')
                        | Corporate services
                li.aside__nav-item 
                    a(href="").aside__nav-link
                        svg(viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(fill-rule='evenodd' clip-rule='evenodd' d='M9.99938 0C13.3703 0 16.3501 1.6775 18.1613 4.24473C10.9865 6.81304 1.78057 8.89944 0.783722 6.14349C2.29987 2.53361 5.85543 0 9.99938 0ZM0.0464237 9.08513C3.76392 11.1075 11.0165 9.14044 18.1877 4.28183C19.3281 5.91378 20 7.90147 20 10.0464C20 15.5948 15.5232 20.0926 9.99982 20.0926C9.76878 20.0926 9.5399 20.0818 9.3121 20.0666C12.8133 19.0561 16.4844 15.7818 19.1489 10.0247C12.5564 17.9282 7.53108 19.2235 4.696 18.5616C3.67431 17.918 2.77679 17.0945 2.04768 16.1343C6.47269 17.1715 13.0933 13.0746 19.4652 6.85665C19.4793 6.84309 19.4647 6.83496 19.4501 6.82682C19.4355 6.81869 19.421 6.81055 19.435 6.797C10.1423 13.028 1.17931 15.0178 0.0205128 10.6574C0.00863698 10.4557 0 10.2514 0 10.0464C0 9.72214 0.017274 9.40183 0.0464237 9.08513Z')
                        | About Nivha
        .aside__tel 




