.block-info
  .img-wrap 
    div 
      img(src="assets/images/png/img-block-1.png", alt="")
  h1.simple-title.mobil__on
        |Express PCR Test
  .content 
    p|With an accuracy of 99%, the polymerase chain reaction (PCR) test is a nucleic acid test which can tell you if you currently have COVID-19. Testing a is conducted using a using a nose and throat (nasopharyngeal) swab with your sample then sent back to the RCLS ISO 17025 accredited lab (ID 9329) in Northern Ireland. This test provides you with the appropriate certification for travel to countries requiring a PCR test for entry.
    ul
      li
        |Results within 24 hours
      li
        |Best price in Belfast
      li
        |Gentle nasal swab