section.certification
    .center-wrap
        .certification__wrap 
            .certification__content
                h2.simple-title Our tests provide recognised certification for work & travel
                .certification__text 
                    .content 
                        p Our secure system gives you full access to your results anywhere, anytime, right in the palm of your hand.
            .certification__img 
                div
                    img(src="assets/images/png/certification__img.png" alt="")
