section.cart.cart--checkout
    .center-wrap
        .cart__breadcrumb
            +breadcrumb([{href:'/',text:'Home'},{href:'#',text:'Checkout'}])
        h2.cart__simple-title.simple-title Checkout
        .checkout__body 
            .checkout__box
                .checkout__body-title Contact information
                form.checkout__inputs.inputs(action='' autocomplete="off")
                    .inputs__field-row
                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field.inputs__field--icon(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__icon
                                    svg(viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M8 0.666016C5.69881 0.666016 3.83333 2.5315 3.83333 4.83268C3.83333 7.13387 5.69881 8.99935 8 8.99935C10.3012 8.99935 12.1667 7.13387 12.1667 4.83268C12.1667 2.5315 10.3012 0.666016 8 0.666016ZM5.5 4.83268C5.5 3.45197 6.61929 2.33268 8 2.33268C9.38071 2.33268 10.5 3.45197 10.5 4.83268C10.5 6.21339 9.38071 7.33268 8 7.33268C6.61929 7.33268 5.5 6.21339 5.5 4.83268Z')
                                        path(d='M2.8989 13.0649C3.36774 12.5961 4.00363 12.3327 4.66667 12.3327H11.3333C11.9964 12.3327 12.6323 12.5961 13.1011 13.0649C13.5699 13.5338 13.8333 14.1696 13.8333 14.8327V16.4993C13.8333 16.9596 14.2064 17.3327 14.6667 17.3327C15.1269 17.3327 15.5 16.9596 15.5 16.4993V14.8327C15.5 13.7276 15.061 12.6678 14.2796 11.8864C13.4982 11.105 12.4384 10.666 11.3333 10.666H4.66667C3.5616 10.666 2.50179 11.105 1.72039 11.8864C0.938987 12.6678 0.5 13.7276 0.5 14.8327V16.4993C0.5 16.9596 0.873096 17.3327 1.33333 17.3327C1.79357 17.3327 2.16667 16.9596 2.16667 16.4993V14.8327C2.16667 14.1696 2.43006 13.5338 2.8989 13.0649Z')
                                span.inputs__content
                                    | First name
                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field.inputs__field--icon(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__icon
                                    svg(viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M8 0.666016C5.69881 0.666016 3.83333 2.5315 3.83333 4.83268C3.83333 7.13387 5.69881 8.99935 8 8.99935C10.3012 8.99935 12.1667 7.13387 12.1667 4.83268C12.1667 2.5315 10.3012 0.666016 8 0.666016ZM5.5 4.83268C5.5 3.45197 6.61929 2.33268 8 2.33268C9.38071 2.33268 10.5 3.45197 10.5 4.83268C10.5 6.21339 9.38071 7.33268 8 7.33268C6.61929 7.33268 5.5 6.21339 5.5 4.83268Z')
                                        path(d='M2.8989 13.0649C3.36774 12.5961 4.00363 12.3327 4.66667 12.3327H11.3333C11.9964 12.3327 12.6323 12.5961 13.1011 13.0649C13.5699 13.5338 13.8333 14.1696 13.8333 14.8327V16.4993C13.8333 16.9596 14.2064 17.3327 14.6667 17.3327C15.1269 17.3327 15.5 16.9596 15.5 16.4993V14.8327C15.5 13.7276 15.061 12.6678 14.2796 11.8864C13.4982 11.105 12.4384 10.666 11.3333 10.666H4.66667C3.5616 10.666 2.50179 11.105 1.72039 11.8864C0.938987 12.6678 0.5 13.7276 0.5 14.8327V16.4993C0.5 16.9596 0.873096 17.3327 1.33333 17.3327C1.79357 17.3327 2.16667 16.9596 2.16667 16.4993V14.8327C2.16667 14.1696 2.43006 13.5338 2.8989 13.0649Z')
                                span.inputs__content
                                    | Last name
                    .inputs__field-row   
                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field.inputs__field--icon(type='email' id='email' name='email' autocomplete='off' required='' )
                            label.inputs__label(for='email')
                                span.inputs__icon.inputs__icon--size
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M12.4136 2.01432C10.6997 1.49576 8.86437 1.54305 7.17943 2.1492C5.4945 2.75534 4.04963 3.8881 3.05885 5.37967C2.06807 6.87124 1.5841 8.64228 1.67861 10.4304C1.77313 12.2186 2.44112 13.9287 3.58362 15.3075C4.72611 16.6863 6.28235 17.6605 8.0218 18.0856C9.76124 18.5108 11.5914 18.3643 13.2411 17.6679C13.6651 17.489 13.8637 17.0001 13.6847 16.5761C13.5057 16.1521 13.0169 15.9535 12.5929 16.1325C11.2732 16.6896 9.80906 16.8067 8.41751 16.4666C7.02595 16.1265 5.78096 15.3472 4.86696 14.2441C3.95296 13.1411 3.41857 11.773 3.34296 10.3425C3.26734 8.91194 3.65452 7.49511 4.44714 6.30185C5.23977 5.1086 6.39567 4.20239 7.74361 3.71747C9.09156 3.23255 10.5599 3.19472 11.931 3.60957C13.3021 4.02443 14.5032 4.8699 15.3562 6.02075C16.2092 7.1716 16.6688 8.56661 16.667 9.99913V11.2502C16.667 11.5817 16.5353 11.8997 16.3009 12.1341C16.0665 12.3685 15.7485 12.5002 15.417 12.5002C15.0855 12.5002 14.7675 12.3685 14.5331 12.1341C14.2987 11.8997 14.167 11.5817 14.167 11.2502L14.167 10.0001C14.167 7.69894 12.3015 5.83346 10.0003 5.83346C7.69914 5.83346 5.83366 7.69894 5.83366 10.0001C5.83366 12.3013 7.69914 14.1668 10.0003 14.1668C11.1802 14.1668 12.2456 13.6763 13.0037 12.8882C13.1063 13.0393 13.2236 13.1816 13.3546 13.3126C13.9016 13.8596 14.6434 14.1669 15.417 14.1669C16.1905 14.1669 16.9324 13.8596 17.4794 13.3126C18.0264 12.7656 18.3337 12.0237 18.3337 11.2502V10.0013C18.336 8.21062 17.7614 6.46686 16.6951 5.0283C15.6289 3.58974 14.1276 2.53289 12.4136 2.01432ZM7.50033 10.0001C7.50033 8.61941 8.61961 7.50012 10.0003 7.50012C11.381 7.50012 12.5003 8.61941 12.5003 10.0001C12.5003 11.3808 11.381 12.5001 10.0003 12.5001C8.61961 12.5001 7.50033 11.3808 7.50033 10.0001Z')
                                span.inputs__content
                                    | E-mail

                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field.inputs__field--icon(type='number' id='number' name='text2' autocomplete='off' required='' )
                            label.inputs__label(for='number')
                                span.inputs__icon.inputs__icon--size   
                                    svg(viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
                                        path(fill-rule='evenodd' clip-rule='evenodd' d='M4.16699 4.16667C3.94598 4.16667 3.73402 4.25446 3.57774 4.41074C3.4265 4.56198 3.33939 4.76537 3.33393 4.97864C3.52559 8.01525 4.81832 10.8781 6.97027 13.0301C9.12223 15.182 11.9851 16.4747 15.0217 16.6664C15.235 16.6609 15.4383 16.5738 15.5896 16.4226C15.7459 16.2663 15.8337 16.0543 15.8337 15.8333V13.0642L12.8498 11.8706L11.9649 13.3454C11.7418 13.7173 11.2707 13.8559 10.8817 13.6641C8.90761 12.6905 7.30987 11.0927 6.33628 9.1186C6.14445 8.72963 6.28302 8.25856 6.65491 8.03542L8.12969 7.15056L6.93613 4.16667H4.16699ZM2.39923 3.23223C2.86807 2.76339 3.50395 2.5 4.16699 2.5H7.50033C7.84108 2.5 8.1475 2.70746 8.27406 3.02384L9.94072 7.19051C10.0926 7.57027 9.94647 8.00414 9.59574 8.21458L8.20074 9.05158C8.88729 10.1713 9.82906 11.113 10.9487 11.7996L11.7857 10.4046C11.9962 10.0539 12.4301 9.9077 12.8098 10.0596L16.9765 11.7263C17.2929 11.8528 17.5003 12.1592 17.5003 12.5V15.8333C17.5003 16.4964 17.2369 17.1323 16.7681 17.6011C16.2993 18.0699 15.6634 18.3333 15.0003 18.3333C14.9835 18.3333 14.9666 18.3328 14.9498 18.3318C11.496 18.1219 8.23845 16.6553 5.79176 14.2086C3.34507 11.7619 1.87841 8.50433 1.66853 5.05055C1.6675 5.03372 1.66699 5.01686 1.66699 5C1.66699 4.33696 1.93038 3.70107 2.39923 3.23223Z')
                                span.inputs__content
                                    | Phone
            .checkout__box
                .checkout__body-title Shipping address
                form.checkout__inputs.inputs(action='' autocomplete="off")
                    .inputs__field-row
                        .inputs__field-wrap.inputs__field-wrap--50
                            span.select_placeholder
                            select.select__field
                                option(value="placeholder" disabled selected hidden)
                                    |Country
                                option(value="val1") 
                                    |United Kingdom
                                option(value="val2") 
                                    |United Kingdom2
                                option(value="val3") 
                                    |United Kingdom3
                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__content
                                    | City
                    .inputs__field-row
                        .inputs__field-wrap.inputs__field-wrap--50
                            input.inputs__field(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__content
                                    | Address
                        .inputs__field-wrap.inputs__field-wrap--25
                            input.inputs__field(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__content
                                    | Apartment, suite, etc.
                        .inputs__field-wrap.inputs__field-wrap--25
                            input.inputs__field(type='text' id='text' name='text' autocomplete='off' required='' minlength='2')
                            label.inputs__label(for='text')
                                span.inputs__content
                                    | Postal code
                .checkout__radio.radio
                    .checkout__radio-title Shipping method
                    label.radio__label(for='radio1')
                        input.radio__input(type='radio' id='radio1' name='radio-delivery' checked)
                        span.radio__content
                        | Royal Mail Express: £28
                    label.radio__label(for='radio2')
                        input.radio__input(id='radio2' type='radio' name='radio-delivery')
                        span.radio__content
                        | Royal Mail Standard: £17
                    label.radio__label(for='radio3')
                        input.radio__input(id='radio3' type='radio' name='radio-delivery')
                        span.radio__content
                        | Royal Mail Economy: £8 
            .checkout__box
                .checkout__body-title Payment
                .checkout__body-content.content 
                    p All transactions are secure and encrypted.
                .radio
                    label.radio__label(for='chek')
                        input.radio__input(type='checkbox' id='chek' name='checkbox' checked)
                        span.radio__content
                        | Royal Mail Express: £28
                .checkout__box-row 
                    .img-wrap
                        div
                            img(src="assets/images/svg/checkout-img.svg" alt="")
                    .content 
                        p After clicking “Place order”, you will be redirected to Stripe to complete your purchase securely.
    .sidebar
        .sidebar__wrap
            .sidebar__price
                .cart-sidebar
                    .cart-sidebar__header
                        .cart-sidebar__title Order summary
                    .cart-sidebar__box
                        .cart-sidebar__row
                            a(href="/product1.html").table-product__column
                                .table-product__column-img.img-wrap
                                    div
                                        img(src="assets/images/png/table__column-img.png" alt="")
                                    span 1
                                p.table-product__body-title Return Home Test Kit
                            .cart-sidebar__row-value £25
                        .cart-sidebar__row 
                            a(href="/product1.html").table-product__column
                                .table-product__column-img.img-wrap
                                    div
                                        img(src="assets/images/png/table__column-img.png" alt="")
                                    span 2
                                p.table-product__body-title Next Generation Test Type
                            .cart-sidebar__row-value £60
                    .cart-sidebar__box
                        .cart-sidebar__row 
                            .cart-sidebar__row-title Subtotal
                            .cart-sidebar__row-value £85
                        .cart-sidebar__row 
                            .cart-sidebar__row-title Shipping
                            .cart-sidebar__row-value £17
                    .cart-sidebar__row.cart-sidebar__row--fw
                        .cart-sidebar__title Total
                        .cart-sidebar__row-value £102
                    a(href="#").cart-sidebar__btn.btn.btn--yellow
                        |Place order  
                        svg(viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg')
                            path(d='M0.875 2.19132C0.875 1.22907 1.91667 0.627661 2.75 1.10879L7.75 3.99554C8.58333 4.47666 8.58333 5.67948 7.75 6.1606L2.75 9.04735C1.91667 9.52848 0.875 8.92707 0.875 7.96482L0.875 2.19132Z')  

