section.confidence
    .center-wrap
        h2.simple-title Buy with confidence
        .confidence__text
            .content
                p We only partner with ISO and UKAS accredited laboratories that adhere to the highest standards of quality assurance
        .confidence__list
            .confidence__item
                img(src='assets/images/png/confidence-img1.png' alt='')
            .confidence__item
                img(src='assets/images/png/confidence-img2.png' alt='')
            .confidence__item
                img(src='assets/images/png/confidence-img3.png' alt='')
            .confidence__item
                img(src='assets/images/png/confidence-img4.png' alt='')
            .confidence__item
                img(src='assets/images/png/confidence-img5.png' alt='')
            .confidence__item
                img(src='assets/images/png/confidence-img6.png' alt='')