.director
    .img-wrap 
        div 
            img(src="assets/images/png/director-avatar.png", alt="")
    .director__quote
        blockquote 
            |“We treat our clients professionally and provide a comprehensive, quality service to meet their needs”
        .director__name
            span Wilbur McDonald,
            span Managing Director at Nivha