section.faq
    .center-wrap
        h2.faq__title.simple-title Popular questions
        .faq__list.toogles
            .faq__item.toogles__item.toogles__item--active
                .faq__item-title.toogles__item-title
                    p What is a PCR Test?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p How do I know if I need a COVID-19 PCR Test to Travel?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p How long will the test take?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Will I receive a fit to fly certificate?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Where can I get the test?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Can I cancel my appointment and get a refund?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Can I change my appointment?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p What is the difference between Travel Test and Private Test?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Can you advise when I need to take the test?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p Does my child need tested?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item
                .faq__item-title.toogles__item-title
                    p How long does it take to get my results back?
                    svg(viewBox='0 0 20 12' fill='none' xmlns='http://www.w3.org/2000/svg')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M1.05703 1.05752C1.57773 0.536817 2.42195 0.536817 2.94265 1.05752L9.99984 8.11471L17.057 1.05752C17.5777 0.536817 18.4219 0.536817 18.9426 1.05752C19.4633 1.57822 19.4633 2.42244 18.9426 2.94313L10.9426 10.9431C10.4219 11.4638 9.57773 11.4638 9.05703 10.9431L1.05703 2.94313C0.536329 2.42244 0.536329 1.57822 1.05703 1.05752Z')

                .faq__item-text.toogles__item-box
                    .content 
                        p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.