section.faq
    .center-wrap
        h2.faq__title Popular questions
        .toogles
            .faq__item.toogles__item-title.toogles__item-title--active(data-toogles='1')
                .faq__item-title
                    p What is a PCR Test?
                .toogles__item.toogles__item--active(data-toogles='1')
                    .toogles__item-content(style='display: block;')
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='2')
                .faq__item-title
                    p How do I know if I need a COVID-19 PCR Test to Travel?
                .toogles__item(data-toogles='2')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='3')
                .faq__item-title
                    p How long will the test take?
                .toogles__item(data-toogles='3')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='4')
                .faq__item-title
                    p Will I receive a fit to fly certificate?
                .toogles__item(data-toogles='4')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='5')
                .faq__item-title
                    p Where can I get the test?
                .toogles__item(data-toogles='5')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='6')
                .faq__item-title
                    p Can I cancel my appointment and get a refund?
                .toogles__item(data-toogles='6')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='7')
                .faq__item-title
                    p Can I change my appointment?
                .toogles__item(data-toogles='7')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='8')
                .faq__item-title
                    p What is the difference between Travel Test and Private Test?
                .toogles__item(data-toogles='8')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='9')
                .faq__item-title
                    p Can you advise when I need to take the test?
                .toogles__item(data-toogles='9')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='10')
                .faq__item-title
                    p Does my child need tested?
                .toogles__item(data-toogles='10')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.
            .faq__item.toogles__item-title(data-toogles='11')
                .faq__item-title
                    p How long does it take to get my results back?
                .toogles__item(data-toogles='11')
                    .toogles__item-content
                        div
                            .faq__item-text
                                .content 
                                    p PCR stands for Polymerase Chain Reaction and is a method of testing used to detect infectious diseases, including COVID-19. A PCR test is performed in a laboratory and is indicative of an individual’s COVID status at the time their sample is taken. It does not show previous infection. PCR tests are internationally recognised as the gold standard for COVID-19 testing by World Health Organisation (WHO) and the backbone of every governments national testing program.