header.header
  .center-wrap
    .header__wrap
      .header__burger
        div
        div
      a(href="index.html").header__logo 
        img(src='assets/images/svg/logo.svg' alt='')
        .header__logo-text COVID-19
      .header__search
        form.inputs(action="#" autocomplete="off")
          .inputs__field-wrap
            input.inputs__field(type="text" placeholder="Search for the test")
            button.btn(type='submit') Find
      .header__account(onclick="show_popup('login')")
        svg(viewBox='0 0 18 20' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(fill-rule='evenodd' clip-rule='evenodd' d='M9 0C6.23858 0 4 2.23858 4 5C4 7.76142 6.23858 10 9 10C11.7614 10 14 7.76142 14 5C14 2.23858 11.7614 0 9 0ZM6 5C6 3.34315 7.34315 2 9 2C10.6569 2 12 3.34315 12 5C12 6.65685 10.6569 8 9 8C7.34315 8 6 6.65685 6 5Z' fill='#505154')
          path(d='M2.87868 14.8787C3.44129 14.3161 4.20435 14 5 14H13C13.7956 14 14.5587 14.3161 15.1213 14.8787C15.6839 15.4413 16 16.2044 16 17V19C16 19.5523 16.4477 20 17 20C17.5523 20 18 19.5523 18 19V17C18 15.6739 17.4732 14.4021 16.5355 13.4645C15.5979 12.5268 14.3261 12 13 12H5C3.67392 12 2.40215 12.5268 1.46447 13.4645C0.526784 14.4021 0 15.6739 0 17V19C0 19.5523 0.447715 20 1 20C1.55228 20 2 19.5523 2 19V17C2 16.2043 2.31607 15.4413 2.87868 14.8787Z' fill='#505154')
        .header__account-title My account
      .header__basket(onclick="show_popup('register')")
        svg(viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(d='M6 21C7.10457 21 8 20.1046 8 19C8 17.8954 7.10457 17 6 17C4.89543 17 4 17.8954 4 19C4 20.1046 4.89543 21 6 21Z' stroke='#505154' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21Z' stroke='#505154' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M17 17H6V3H4' stroke='#505154' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
          path(d='M6 5L20 6L19 13H6' stroke='#505154' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
        .header__basket-title Cart


    //- .header__wrap.anchors
    //-   a(href="").header__logo
    //-     img(src='assets/images/logo.png' alt='')
    //-   nav.header__nav.mobile--hide
    //-     ul.header__nav-list
    //-       li.header__nav-item
    //-         a.header__nav-link(href='') О компании
    //-       li.header__nav-item
    //-         a.header__nav-link(href="") Услуги
    //-       li.header__nav-item
    //-         a.header__nav-link(href="") Строителям
    //-       li.header__nav-item
    //-         a.header__nav-link(href="") Oтзывы
    //-       li.header__nav-item
    //-         a.header__nav-link(href="") Частые вопросы
    //-       li.header__nav-item
    //-         a.header__nav-link(href="") Контакты
    //-   .header__phone.mobile--hide
    //-     a(href="tel: +73422032012" data-anchors='false') +7(342)203-20-12
    //-   a.header__phone.desktop--hide(href='tel: 79999999999' data-anchors='false')
    //-     svg(viewBox='0 0 21 23' fill='none' xmlns='http://www.w3.org/2000/svg')
    //-       path(d='M18.4001 14.7289C17.1756 14.7289 15.9733 14.514 14.834 14.0916C14.2757 13.8779 13.5894 14.0739 13.2487 14.4666L10.9999 16.3712C8.39191 14.8093 6.78546 13.0075 5.41233 10.1034L7.05999 7.64605C7.48806 7.16641 7.6416 6.46576 7.45764 5.80836C7.07952 4.52335 6.88744 3.17506 6.88744 1.80064C6.88749 0.80776 6.16754 0 5.28264 0H1.60973C0.724831 0 0.00488281 0.80776 0.00488281 1.80059C0.00488281 13.181 8.25686 22.4394 18.4001 22.4394C19.285 22.4394 20.0049 21.6316 20.0049 20.6388V16.5294C20.0049 15.5367 19.2849 14.7289 18.4001 14.7289Z') 