section.main-catalog 
    .center-wrap
        .booking-success 
            .booking-success__status 
                img(src="assets/images/svg/status-img.svg", alt="")
            h1.simple-title
                |Great! Your test successfully booked
            .booking-success__product 
                h2.booking-success__product-title
                    |Your test
                .booking-success__product-wrap 
                    .img-wrap 
                        div 
                            img(src="assets/images/png/express-sidebar.png", alt="")
                    .booking-success__product-info 
                        .booking-success__product-name 
                            |Express PCR Test
                        span.booking-success__product-prace
                            |£165
            .booking-success__clue
                img(src="assets/images/svg/info-clue.svg", alt="")
                |For further steps follow the instructions sent to your email.