section.main-product#main-product
  .center-wrap
    .breadcrumb
        +breadcrumb( 'Home', 'for Individuals', 'Express PCR Test')
    h1.simple-title
        |Express PCR Test
    include ../includes/block-info
    include ../includes/test-info
  include ../includes/sidebar