section.main-product#main-product
  .center-wrap
    .breadcrumb
      .breadcrumb__list
        +breadcrumb( {src: 'index.html', name: 'Home'})
        +breadcrumb( {src: 'catalog.html', name: 'for Individuals'})
        +breadcrumb( {src: '#', name: 'Express PCR Test'})
    h1.simple-title.mobil__none
        |Express PCR Test
    include ../includes/block-info
    include ../includes/table
    include ../includes/test-info
  include ../includes/sidebar