section.main-catalog 
    .center-wrap
        .breadcrumb
            .breadcrumb__list
                +breadcrumb( {src: 'index.html', name: 'Home'})
                +breadcrumb( {src: 'catalog.html', name: 'for Individuals'})
        h1.simple-title
            |Diagnostics of the COVID-19 for individuals
        .content.sub-title 
            p
                |Nivha offers a fast & affordable Covid testing service. Test is delivered to your door, results analysed by one of the UK’s leading laboratories and results securely delivered to you.
        .anchor 
            ul.anchor__list
                li.anchor__item
                    a(href="#travel").anchor__link
                        |Travel
                li.anchor__item
                    a(href="#travelPacks").anchor__link
                        |Packs
                li.anchor__item
                    a(href="#private").anchor__link
                        |Private
        .block-travel#travel
            h2.block-travel__title
                |Travel
            .cards
                +travelCards({class: '', src: 'assets/images/png/cards-img-1.png', title: 'Pre-Departure Fit to Fly only', subTitle: 'Swab • 1 day', price: '65'})
                +travelCards({class: '', src: 'assets/images/png/cards-img-1.png', title: 'Day 5 test to Release', subTitle: 'Deoxygenated blood • 1 day', price: '65'})
                +travelCards({class: '', src: 'assets/images/png/cards-img-2.png', title: 'Express PCR test', subTitle: 'Deoxygenated blood • 3 hours • Nothern Ireland only', price: '165'})
        .block-travel#travelPacks
            h2.block-travel__title
                |Travel Packs
            .cards
                +travelCards({class: 'green', src: 'assets/images/png/cards-img-3.png', title: 'Green Travel Pack', subTitle: 'Pre-Derarture + Day 2 tests', price: '65'})
                +travelCards({class: 'orang', src: 'assets/images/png/cards-img-4.png', title: 'Amber Travel Pack', subTitle: 'Pre-Derarture + Day 2 & Day 8 tests', price: '65'})
        .block-travel#private
            h2.block-travel__title
                |Private
            .cards
                +travelCards({class: '', src: 'assets/images/png/cards-img-1.png', title: 'Private PCR', subTitle: 'Swab • 1 day', price: '65'})
                +travelCards({class: '', src: 'assets/images/png/cards-img-1.png', title: 'Private Antigen', subTitle: 'Deoxygenated blood • 1 day', price: '35'})
                +travelCards({class: '', src: 'assets/images/png/cards-img-1.png', title: 'Private Antibody (by appointment)', subTitle: 'Deoxygenated blood • 1 day', price: '45'})
        