.main-catalog 
    .center-wrap
        .breadcrumb
            +breadcrumb( 'Home', 'for Individuals')
        h1.simple-title
            |Diagnostics of the COVID-19 for individuals
        .content.sub-title 
            p
                |Nivha offers a fast & affordable Covid testing service. Test is delivered to your door, results analysed by one of the UK’s leading laboratories and results securely delivered to you.
        .anchor 
            ul.anchor__list
                li.anchor__item
                    a(href="#").anchor__link
                        |Travel
                li.anchor__item
                    a(href="#").anchor__link
                        |Packs
                li.anchor__item
                    a(href="#").anchor__link
                        |Private
        .block-travel
            h3.block-travel__title
                |Travel
            .cards
                .cards__item
                    .cards__item-left
                        .img-wrap 
                            div 
                                img(src="assets/images/png/cards-img-1.png", alt="cards image")
                        .cards__item-info
                            .cards__title
                                |Pre-Departure Fit to Fly only
                            .cards__sub-title 
                                |Swab • 1 day
                    .cards__item-right
                        .price 
                            |£<span>65</span>
                        a(href="#").btn
                            |Book test 
                