.steps 
	ul.steps__list
		li.steps__item
			span.steps__number 
				|1
			.content
				h6.steps__title 
					|Click “Book test”
				p
					|Click “Book test”
		li.steps__item
			span.steps__number 
				|2
			.content
				h6.steps__title 
					|Fill in your details
				p
					|Choose the test you need and we’ll send the kit straight to your door.
		li.steps__item
			span.steps__number 
				|3
			.content
				h6.steps__title 
					|Arrive at Nivha
				p
					|Simply collect your sample at home and return to one of our fully accredited labs for expert analysis.
		li.steps__item
			span.steps__number 
				|4
			.content
				h6.steps__title 
					|Get your results
				p
					|Your results and accredited documentation will be delivered via our secure online Nivha within days.
