.table 
    table 
        thead 
            tr 
                th Country list
                th Green
        tbody 
            tr
                td(colspan="2") Departures
            tr 
                td Pre departure COVID-19 test before travel to destination and/or full vaccination course
                td Green
            tr
                td(colspan="2") Arrivals
            tr 
                td Passenger locator form required
                td 
                    div 
                        img(src="assets/images/svg/check-table.svg", alt="")
            tr 
                td COVID-19 test taken before returning to UK
                td 
                    div 
                        img(src="assets/images/svg/check-table.svg", alt="")
            tr 
                td Hotel quarantine upon return to the UK
                td 
                    div 
                        img(src="assets/images/svg/close-table.svg", alt="")
            tr 
                td Quarantine in choosen location e.g. at home
                td 
                    div 
                        img(src="assets/images/svg/close-table.svg", alt="")
            tr 
                td Day 2 PCR test (mandatory)
                td 
                    div 
                        img(src="assets/images/svg/close-table.svg", alt="")
                        |On or before day 2 after returning to UK
            tr 
                td Day 8 PCR test (mandatory if required)
                td 
                    div 
                        img(src="assets/images/svg/close-table.svg", alt="")
            tr 
                td Optional test to release
                td N/A
