.test-info
  .toogles-info.toogles.toogles--fade
    ul.toogles-info__tabs
      li.toogles-info__item
        a( href="#panel1" data-toogles="1").toogles-info__link.toogles__item-title.toogles__item-title--active
          |About
      li.toogles-info__item 
        a( href="#panel2" data-toogles="2").toogles-info__link.toogles__item-title 
          |Preparetion
      li.toogles-info__item 
        a( href="#panel3" data-toogles="3").toogles-info__link.toogles__item-title 
          |Results
    .test-info__container
      .toogles__item.toogles__item--active(data-toogles="1")
        #panel1.panel.toogles__item-content(style="display: block")
          .test-info__item 
            h2.test-info__title.mobil__none
              |How it works
            include ../includes/steps
          .test-info__item 
            h2.test-info__title
              |About the test
            .content
                h3 
                  |Who is this service suitable for?
                p 
                  |Adults and children five years of age and over.
                h3 
                  |When should I book my appointment?
                p 
                  |Testing is intended for patients without ARI symptoms (fever, cough, shortness of breath, muscle pain, weakness, and chest congestion). A prerequisite is the absence of contact with patients with COVID-19 for 14 days. 
                h3  
                  |Organizations (legal entities)
                p 
                  |Group services for organizations are issued on a special request. You can read the detailed instructions for applying for corporate services <a href="#">HERE</a>.
                h3  
                  |For individuals
                p 
                  |We recommend making an order on the website. This will significantly save your time in the laboratory department. To place a preliminary order, add the test to the "Basket" enter the necessary data, place an order.
                h3  
                  |How long will my appointment take?
                p 
                  |The appointment including the swab test will take about 10 minutes.
                h3  
                  |When will the test results be ready?
                p 
                  |Results should be received typically within 24 hours.
                h3  
                  |How to prepare for test?
                p 
                  |Refrain from eating, drinking, brushing teeth, treating the oral cavity and oropharynx with antiseptics, chewing gum and refreshing lozenges three hours before taking the biological material.
                h3  
                  |Contraindications and restrictions
                p 
                  |There are no absolute contraindications.
                h3  
                  |Detailed description of the test
                p 
                  |Qualitative determination of the RNA of the beta coronavirus SARS-CoV-2 (the causative agent of COVID-19) in oropharyngeal cell scraping by real-time PCR.
                p
                  |SARS-CoV-2 is an RNA-containing beta coronavirus of the Coronaviridae family, which was discovered at the end of 2019 in China. It is capable of causing an acute respiratory infectious disease COVID-19 in humans (COronaVIrus Disease 2019).
                p
                  |As a rule, the infectious process begins after the penetration of the virus into the epithelial cells lining the mucous membranes of the upper respiratory tract. In the infected cells, active replication of the virus begins - a multiple increase in the number of copies of viral particles, or virions. New virions emerge from the affected cells and infect an increasing number of healthy cells not only in the upper, but also in the lower respiratory tract. Including possible damage to type II alveolar cells, which determines the development of pneumonia.
                p
                  |SARS-CoV-2 virions are able to penetrate cells on the surface of which there is a type II angiotensin-converting enzyme membrane protein (ACE2, ACE2). For the ACE2 virus, it serves as a receptor to which the glycoprotein “spikes” (which include Spike or S protein), located on the surface of viral particles, bind. ACE2 receptors are present on the cell membranes of the respiratory and central nervous system, esophagus, ileum, kidneys, bladder, heart. The new coronavirus is capable of infecting brain cells, which is associated with a complete loss of smell at an early stage of the disease in some patients. According to some reports, the virus is also able to penetrate cells, on the membrane of which the CD147 protein is present.
                p
                  |The method of polymerase chain reaction, or PCR, allows in a fairly short time to detect genetic material - coronavirus RNA, in a small number of epithelial cells of the upper respiratory tract. A positive result (detection of the ribonucleic acid of the virus) indicates that a virus is present in the upper respiratory tract of a person and the person poses a danger to others.
                p
                  |SARS-CoV-2 infection can be asymptomatic (up to 50% of cases), mild or severe. In the latter case, the development of an acute respiratory syndrome (Severe Acute Respiratory Syndrome, SARS) against the background of bilateral pneumonia is possible. The incubation period lasts 2-14 days (usually 5-7 days). After that, the patient develops symptoms of an acute respiratory viral infection (ARVI).
                p
                  |All those infected with the coronavirus, even those with an erased or asymptomatic infection, are a source of infection in the first days after infection. Since they release viral particles into the environment with exhaled air, when talking, coughing, sneezing. Virus shedding on average lasts about 20 days, but in some cases it can last longer than a month.
                p
                  |It is important to remember that the pathogenesis of the new coronavirus infection is not yet well understood. And even in patients in whom the infection proceeds in mild or erased forms, it is possible to develop an acute respiratory syndrome against the background of pneumonia.
                h3  
                  |Routes of transmission and main symptoms of COVID-19
                ul 
                  li 
                    |airborne (when coughing, sneezing, talking);
                  li
                    |air-dust;
                  li
                    |contact.
                h3  
                  |Clinical symptoms of coronavirus (COVID-19)
                ul 
                  li 
                    |temperature rise (> 90%);
                  li
                    |dry cough, less often with a small amount of sputum (80%);
                  li
                    |dyspnea;
                  li
                    |muscle pain, low performance, high fatigue (44%);
                  li
                    |a feeling of congestion in the chest (> 20%).
      .toogles__item(data-toogles="2")
        #panel2.panel.toogles__item-content
          .test-info__item 
            h2.test-info__title
              |How it works
            .content
              h3 
                |Who is this service suitable for?
              p 
                |Adults and children five years of age and over.
      .toogles__item(data-toogles="3")
        #panel3.panel.toogles__item-content
          p 
            |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit doloremque eligendi nesciunt illum, vel optio ea aperiam culpa alias nisi.

