section.thanks
    .center-wrap
        .thanks__body
            .thanks__icon.img-wrap
                div
                    img(src="assets/images/svg/thanks-icon.svg" alt="")
            div
                .checkout__box
                    .checkout__body-title Order #1494 is confirmed
                    .content 
                        p We've accepted your order, and we're getting it ready. A confirmation email has been sent to matthew.mopers@gmail.com. Come back to this page for updates on your order status.
                .checkout__box.checkout__box--empty
                    .checkout__body-title Customer information
                    .thanks__wrap 
                        .thanks__column
                            .thanks__column-title Shipping address
                            .content 
                                p Matthew Mopers
                                p 1 Inverary wood, 22
                                p Belfast, BT4 1RR
                                p United Kingdom
                            a(href="tel:886720472").thanks__column-link 886 720 472 
                        .thanks__column
                            .thanks__column-box
                                .thanks__column-title Shipping method
                                .content 
                                    p Royal Mail Standard
                            .thanks__column-box
                                .thanks__column-title Payment method
                                .content 
                                    p Stripe — £102