section.travel-packs
    .center-wrap
        h2.simple-title Travel packs
        p.travel-packs__text Travel confidently with Nivha
        .travel-packs__pack
            +pack({class:"pack--green",title:'Green pack',price:'120',item1:'Pre-Departure test',item2:'Day 2 test',item3:false,btn:'Buy pack',src:'assets/images/png/pack-img3.png'})
            +pack({class:"pack--orange",title:'Amber pack',price:'180',item1:'Pre-Departure test',item2:'Day 2 test',item3:'Day 8 test',btn:'Buy pack',src:'assets/images/png/pack-img4.png'})
