* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	outline: none;
}

img {
	max-width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}


input {
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}


ul {
	list-style: none;
}


a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media screen and (max-width:$large_desktop) {
		font-size: 100vw / (1750/10);
	}

	@media screen and (max-width:$large_tablet) {
		font-size: 71.5%;
	}

	@media screen and (max-width:$large_mobile) {
		font-size: 100vw / (410/10);
	}
}

body {
	font-family: $primary-f;
	color: $primary-c;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	font-weight: 500;
	font-size: 1.6rem;
	background: #F6F6F6;
	// user-select: none;

}

main {
	flex-grow: 1;

}

.body__wrapper {
	display: flex;

}

.main {
	width: calc(100% - 33.5rem);
	position: relative;
	padding-top: 10.4rem;
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	@media screen and (max-width:$large_tablet) {
		width: 100%;
		padding-top: 6.8rem;
	}
}

.center-wrap {
	max-width: calc(100% - 100px);
	width: 100%;
	margin: 0px auto;

	@media screen and (max-width: 1500px) {
		max-width: calc(100% - 70px);
	}

	@media screen and (max-width:$large_tablet) {
		max-width: $large_mobile;
		padding: 0 20px;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0px;
}


.simple-title {
	font-weight: bold;
	font-size: 4rem;
	line-height: 140%;

	@media screen and (max-width:$large_tablet) {}
}

.img-wrap {
	width: 100%;

	>div {
		position: relative;
		padding-bottom: 100%;

		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&--contain {
		>div {
			img {
				object-fit: contain;
			}
		}
	}
}