// Font
$primary-f:'Inter',
sans-serif;
$secondary-f:'Montserrat',
sans-serif;

// Color
$primary-c:#0D0D0E;
$secondary-c:#1C5C6C;
$danger-—Å:#ff0000;
$green:#046C1C;
$yellow:#F6AE2D;
$orange:#C65300;
$grey:#505154;




$br:1.2rem;
// Media
$large_desktop: 1750px;
$large_tablet: 1024px;
$large_mobile: 480px;