//- mixin breadcrumb(items)
//-   li.breadcrumb__item
//-     a(href=items.src).breadcrumb__link
//-       |#{items.name}
mixin breadcrumb(items)
  .breadcrumb
    ul.breadcrumb__list
      each item in items
        li.breadcrumb__item
          a.breadcrumb__link(href=item.href)=item.text