<<<<<<< HEAD
//- include main-screen.pug

mixin breadcrumb(...items)
  .breadcrumb__list
    each item in items
      li.breadcrumb__item
        a(href="#").breadcrumb__link= item
=======
include pack.pug
>>>>>>> master
