extends ../layout/main

block variables
  - var title = 'Nivha-booking-success';
  - var pageClass = 'booking-success-page';

block content
  include ../includes/main-booking-success
//- block script
