extends ../layout/main

block variables
  - var title = 'Nivha-Catalog';
  - var pageClass = 'catalog-page';

block content
  include ../includes/main-catalog
  include ../includes/business 
//- block script
