extends ../layout/main

block variables
  - var title = 'Nivha';
  - var pageClass = 'index-page';

block content
  include ../includes/main-screen
  include ../includes/travel-packs
  include ../includes/about
  include ../includes/certification
  include ../includes/contact
  include ../includes/business
  include ../includes/confidence
  include ../includes/faq

//- block script
