extends ../layout/main

block variables
	- var title = 'Nivha-Product';
	- var pageClass = 'product-page';

block content
	+main-product({imgSlider:'img',product:'product'})
	include ../includes/business 
//- block script